---
import Layout from '../../layouts/Layout.astro';
import Sidebar from '@/components/vue/Sidebar.vue';
import { BoxRevealHeading } from "../../components/react/MagicTitle";
---

<Layout title="Devaloka">
    <div class="grid grid-cols-[240px,1fr]">
        <div class="">
            <Sidebar client:only="vue"/>
        </div>
        <div>
            <BoxRevealHeading client:only="react"/>
            <div class="p-4 flex-1 smooth-scroll">
                <div id="personal">
                    <h1>Personal</h1>
                </div>
                <div id="technical">
                    <h1>Skills</h1>
                </div>
                <div id="work-experience">
                    <h1>Experience</h1>
                </div>
                <div id="projects">
                    <h1>Projects</h1>
                </div>
                <div id="contact">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>
</Layout>