---
import InteractiveGridPattern from "../components/InteractiveGridPattern.vue";
import Layout from "../layouts/Layout.astro";
import MorphingText from "../components/ui/morphing-text";
import AnimatedGradientText from "../components/ui/animated-gradient-text";
import { cn } from "@/lib/utils";

const texts = [
  'Hello,',
  "DEVALOKA",
]
---

<Layout>
  <InteractiveGridPattern client:load>
    <h1
      class="skew-y-[-40deg] absolute top-1/3 left-1/2 transform -translate-x-1/2 text-white text-center text-2xl"
    >
      <MorphingText texts={texts} client:only="react" className="w-screen m-auto text-center whitespace-nowrap" />
    </h1>
    <p
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-white text-center text-2xl"
    >
      <a href="vue" class="inline-block w-fit mt-4">
        <AnimatedGradientText client:only="react" className="w-fit mt-4 bg-black cursor-pointer">
          <span
            class={cn(
              `inline animate-gradient bg-gradient-to-r from-[#ffaa40] via-[#9c40ff] to-[#ffaa40] bg-[length:var(--bg-size)_100%] bg-clip-text text-transparent`,
            )}
          >
            Explore
          </span>
        </AnimatedGradientText>
      </a>
    </p>
  </InteractiveGridPattern>
</Layout>
